<html>

  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
	<p>SIPROTEC4</p>
	<p>SIPROTEC5</p>
	<p>SMARTDEVICE</p>
	<p>POWERQUALITY</p>
	<p>POWERLINK</p>
  </body>
</html>
	
	
